<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":2},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":5,"row":1,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1}]')

  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>


<% content_for :title do %>1080p dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/porch-logo-2x.png"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="ga_top_keywords" data-view="List" data-title="Top Keywords by Pageview" style="background-color:#a7a7a7;"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" >
      <div data-id="organic_users" data-view="Number" data-title="Organic UUs in past 30 days" style="background-color:#007987;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="organic_pageviews" data-view="Number" data-title="Organic Pageviews in past 30 days" style="background-color:#f2ae00;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="organic_new_users" data-view="Number" data-title="Organic New UUs in past 30 days" style="background-color:#42acb4;"></div>
    </li>
    
   	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pros_organic_traffic" data-view="Number" data-title="Pro Pages w/ Organic Search Traffic in past 30d" style="background-color:#20505f;"></div>
    </li>	

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="GoogleBot crawls" data-text="308" data-moreinfo="Protip: You can drag the widgets around." style="background-color:#d28e00;"></div>
    </li>

  </ul>
  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
</div>